{% extends "layout.html" %}


        {% block title %}

        about

        {% endblock %}


        {% block main %}
        <div margin: 0 ;text-align:center>
            <div>
                <h1>main</h1>
                <div>
                    our services
                    <div>
                      About of a construction company
                            A type of business, company, enterprise, or similar organization was created to construct various buildings,
                            developments, properties, facilities, housing, path, pavement, roads, motorways, and other construction projects
                    </div>
                </div>
            </div>
          </div>
          {% endblock %}

