{% extends "layout.html" %}


        {% block title %}

        apology

        {% endblock %}


        {% block main %}
            <img src="/static/images/under-construction.PNG">
            </div>
          </section>
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
            <div class="demo-wrap">
                <img class="demo-bg" src="images/construction1.jpg" alt="">
                <div class="demo-content">
                </div>
              </div>
        {% endblock %}