{% extends "layout.html" %}


        {% block title %}

        ARCGIS

        {% endblock %}


        {% block main %}
            <li></li>
            <section class="hero">
                <h1>ARCGIS Services</h1>
                <p>ARCGIS services that we provide include the development of customized ArcGIS Online maps and applications, training, support and maintenance. Our experienced engineers can help you use ArcGIS in your work processes and make more effective decisions in accordance with your business plan. Our engineers have experience working with data from third party organizations to create effective maps that can be used to make important decisions based on data collection and statistical analysis.</p>
            </section>
            <section class="services">
                <h2 style="color:blue;">Our ARCGIS Services</h2>
                <ul>
                    <li style="color:black;">data management , database platform</li>
                    <div class="paymentbody">
                        We are a leading provider of ArcGIS services. We have a full range of GIS related experience
                    </div>
                    <img src="/static/images/gis1.jfif">
                    <li style="color:black;">enterprise geodatabase and project execution</li>
                    <div class="paymentbody">
                        We provide a wide range of ArcGIS services to help you stay on top of your project. We are skilled in ArcGIS Desktop and ArcGIS Online, including working with web-based maps, profiles and server data. With more than 20 years experience in GIS and spatial analysis
                    </div>
                    <img src="/static/images/gis2.png">
                    <li style="color:black;">enterprise geodatabase and project execution</li>
                    <div class="paymentbody">
                        We provide a wide range of ArcGIS services to help you stay on top of your project. We are skilled in ArcGIS Desktop and ArcGIS Online, including working with web-based maps, profiles and server data. With more than 20 years’ experience in GIS and spatial analysis, we have the expertise to deliver the information you need, when you need it and in an accessible format. Our team of GIS experts will implement projects from start to finish and help you make the most of your investment in spatial data.
                    </div>
                    <img src="/static/images/gis3.jfif">
                </ul>
            </section>
            <section class="call-to-action">
                <a href="contact.html">Get in Touch</a>
            </section>
        </main>
       {% endblock %}