{% extends "layout.html" %}


        {% block title %}

        BIM

        {% endblock %}


        {% block main %}
            <li></li>
            <section class="hero">
                <h1>BIM Services</h1>
                <p>Building Information Modeling (BIM) is a digital representation of the physical and functional characteristics of a building. our Construction Company offers the following BIM services:</p>
            </section>
            <section class="services">
                <h2 style="color:blue;">Our BIM Services</h2>
                <ul>
                    <li style="color:black;">BIM Modeling and 3D Visualization</li>
                    <div class="paymentbody">
                      We hold expertise in delivering BIM services for mixed-use buildings, shopping malls, theme parks, hospitals, airports, railways, residential townships, industrial plants and much more. Our highly experts BIM teams of architects, structural, civil and MEP engineers deliver efficient 3D plans and layouts along with as-built 3D model.
                      Our experienced BIM consultants and managers leverage Autodesk Revit to deliver virtual design and construction (VDC) solutions and 3D BIM coordinated models. We help contractors, architects, consultants, engineers and manufacturers by providing clash-free 3D BIM models according to IFC and COBie standards for design visualization and taking informed decisions.
                    </div>
                    <img src="/static/images/bim1.jpg">
                    <li style="color:black;">BIM Coordination and Clash Detection</li>
                    <div class="paymentbody">
                      With the healthy expertise of our team in BIM Coordination services, we provide clash free BIM models along with co-ordinated MEP installation drawings, MEP-FS fabrication drawings, MEP-FS construction drawings, MEP-FS co-ordinations, MEP-FS shop drawings, as-built drawings, spool drawings, Architectural shop drawings, façade drawings etc. We leverage 3D coordination services and can be performed giving an output model incorporating Architectural, Structural and MEP BIM models, with clash free construction drawings sets.
                    </div>
                    <img src="/static/images/bim2.jfif">
                    <li style="color:black;">BIM Cost Estimation and Quantity Takeoff</li>
                    <div class="paymentbody">
                      As a BIM coordination company, the design inputs are first coordinated through the BIM model. Any design conflicts or inconsistencies in the inputs from different stakeholders are raised before any issues are seen on site. Clash free construction drawing sets are then worked upon which lead to swift time bound execution. The BIM model works as an unmatched tool for coordination and clash detection between components of different disciplines. We have experience on clash detection at all the Levels of development (LOD) on infrastructure projects and building.
                    </div>
                    <img src="/static/images/bim3.jpg">
                </ul>
            </section>
            <section class="call-to-action">
                <a href="contact.html">Get in Touch</a>
            </section>
            {% endblock %}