{% extends "layout.html" %}


        {% block title %}

        management

        {% endblock %}


        {% block main %}
            <li></li>
            <section class="hero">
                <h1>BIM Services</h1>
                <p>We provide a total service of PM/CM for building projects, Industrial projects, Civil engineering, Process engineering and other construction projects. The services we provide are tailored to meet individual needs of each client/project. It ranges from specialized assistance amongst in-house teams to full management of the process:</p>
            </section>
            <section class="services">
                <h2 style="color:blue;">Construction Managements</h2>
                <ul>
                    <li style="color:black;">PROJECT DESIGN PHASE</li>
                    <div class="paymentbody">
                      Project design is an early phase of the project lifecycle where ideas, processes, resources, and deliverables are planned out. A project design comes before a project plan as it's a broad overview whereas a project plan includes more detailed information
                    </div>
                    <img src="/static/images/man1.jfif">
                    <li style="color:black;">TENDER PHASE</li>
                    <div class="paymentbody">
                      Tender phaseFeatured snippet from the webAdvertising the requirement. Selection Stage / Pre Qualification Questionnaire (PQQ) Evaluation of selection Stage / PQQ. Invitation to Tender (ITT).
                    </div>
                    <img src="/static/images/man2.jpg">
                    <li style="color:black;">CONSTRUCTION PHASE</li>
                    <div class="paymentbody">
                      The construction process is the detailed steps required to complete your construction project. This process can be broken down into five phases  planning/design, pre-construction, procurement, construction, and post-construction.
                    </div>
                    <img src="/static/images/man3.webp">
                </ul>
            </section>
            <section class="call-to-action">
                <a href="contact.html">Get in Touch</a>
            </section>
        {% endblock %}