{% extends "layout.html" %}


        {% block title %}

        Thanks

        {% endblock %}


        {% block main %}
        <nav>
            <ul>
                <li>hi</li>
                <li>.</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>

        <h1 centred style="text-align:center" style="vertical-align: middle">Thanks for providing your contact information , we will Contact soon!</h1>

        {% endblock %}
